# settings I don't want in a public repo. Fill in your own settings here
[google_spreadsheet]
google_spreadsheet_name:your google doc spreadheet name
google_id:yourgoogleaccount@gmail.com
google_password:yourpassword

# In which column should the date/timestring be written? 
google_timestring_column:A
google_message_column:B
