# settings I don't want in a public repo. Fill in your own settings here
[google_spreadsheet]
google_spreadsheet_name:your google doc spreadheet name
google_id:yourgoogleaccount@gmail.com
google_password:yourpassword